.pb{
    -webkit-font-smoothing:
    
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.pb:before {
    content: "\f4e4";
}

i.pb{}

.card {
  position: relative;
  width: 50%;
}

. {
  display: block;
  width: 100%;
  height: auto;
}
.card-columns{
  display: inline-block
   @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
    column-break-inside: avoid
  }
}
.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #aa4d01;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card-text .card-title {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
