body{
font-family:Lobster;
background: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size:cover;
 color:white;
}
.projects-wrap{
  background-color:black;
  border-radius:15px;
  color:#024471;
  text-align:center;
  margin-left:25%;
}
.projects-wrap:hover{
  background-color:#024471;
  color:white;
  box-shadow: 5px 5px 5px black;
  border:1px solid black;  
  text-decoration:none;
}
.card-text:hover{
  color:black;
}
.card-body{
  font-family:Lobster;
  color:#F9C905;
}
.block3{
  background-color:rgba(0,0,0,.8);
  color:white;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  border-radius:15px;
  font-size:1.5em;
  padding:50px;
  padding-bottom:2%;
  
}
span{
  font-family:Lobster;
}
.nav-pills{
  font-family:Lobster;
  font-size:1.5em;
  background-color:black;
  color:white;
}
.btn-default{
  background-color:black;
}
.h1{
  padding:0;
  margin-top:0px;
}
.spacer{
  padding:5%;
  
}
.spacer1{
  padding:1%;
  
}

.pageTwo{
  background-color:rgba(0,0,0,.8);
  height:100%;
  padding-top:3%;
  color:white;
  border-radius:15px;
  
}
.me{
  border-radius:5px;
  width:30%;
  height:30%;
  box-shadow: 5px 5px 5px black;
}
img{
  width:298px;
  height:290px;
  border-radius: 10px 20px 0px 0px;
}
.btn{
  box-shadow: 5px 5px 5px black;
}
.block{
  background-color:rgba(0,0,0,.8);
  color:white;
  width:90%;
  margin-right:auto;
  margin-left:auto;
  border-radius:15px;
  font-size:1.5em;
  padding:50px;
  padding-bottom:2%;
  
}
p{
  text-align: justify;
  text-indent:40px;
  font-size:20px;
}
.block2{
  background-color:rgba(0,0,0,.8);
  color:white;
  width:60%;
  margin-right:auto;
  margin-left:auto;
  border-radius:15px;
  font-size:1.5em;
  padding:3%;
  padding:50px;
  padding-bottom:2%;
}
.block4{
  background-color:rgba(0,0,0,.8);
  color:white;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  border-radius:15px;
  font-size:1.5em;
  padding:3%;
  padding:50px;
  padding-bottom:2%;
}
